.divFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4rem;
}

.infoFlex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  margin-top: -4rem;
}

.imgFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  height: 500px;
  width: 500px;
  background-color: var(--white);
  z-index: 0;
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
}

.imgFlex img {
  z-index: 10;
  height: 800px;
}

.imgFlex p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}
