.gridContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.gridHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.userInfo {
  display: flex;
  align-items: center;
}

.nameLocation {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.nameLocation p {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 2px;
}

.moreIcon {
  color: var(--white);
  opacity: 0.5;
  font-size: 2rem;
  cursor: pointer;
}

.productContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridImageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.moreIcon:hover {
  color: var(--white);
}

.productImg {
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 750px) {
  .imgBox {
    margin-right: 0.25rem !important;
  }
  .gapBox {
    margin-bottom: 0.25rem !important;
  }
  .gridImageContainer {
    margin-left: 0.25rem !important;
  }
  .moreIcon {
    font-size: 1rem !important;
  }
}

@media (max-width: 550px) {
  .imgBox {
    margin-right: 0.2rem !important;
  }
  .gapBox {
    margin-bottom: 0.2rem !important;
  }
  .gridImageContainer {
    margin-left: 0.2rem !important;
  }
  .moreIcon {
    font-size: 1rem !important;
  }
  .productImg {
    border-radius: 7px;
  }
}
