.container {
  font-family: "Spline Sans", sans-serif;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  z-index: 100;
  top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  position: relative;
  margin: 0 1rem;
  cursor: pointer !important;
  width: fit-content;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 300;
  color: #808080;
}

.navLinks:hover {
  color: var(--white);
  transition-duration: 0.2s;
}

.navLinks2:hover {
  color: var(--white);
  margin-top: -5px;
  transition-duration: 0.2s;
}
.icon {
  margin: 0 1rem;
  position: relative;
  top: 5px;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    left: 0%;
    position: fixed;
    border-bottom: 0px solid var(--black);
    padding: 20px;
    background-color: transparent;
  }
  .rightContainer {
    margin-right: auto !important;
    margin-left: 15px;
    margin-top: 15px;
  }

  .container h1 {
    padding-left: 2rem;
  }
  .menu {
    padding-right: 2rem;
    background-color: black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    position: relative;
  }
  .navLinks {
    margin-bottom: 2rem;
  }
}
