.card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background: linear-gradient(135deg, #5961f9 0%, #9ac1ee 76.85%); */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  height: 100vh;
  border-radius: 30px;
}

.site {
  flex: 0.6;
  height: 100%;
  /* background-color: white; */
  border-radius: 10px;
}

.sites {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .card {
    width: 90%;
  }
}
