.wrapper h1 {
  font-size: 4rem;
  color: var(--dark-blue);
}

.wrapper {
  margin-top: 3rem;
  margin-bottom: 4rem;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.wrapper h1 {
  font-size: 5rem;
  color: var(--white);
  margin: 0;
  margin-left: 5rem;
}
