.button {
  padding: 0rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.button:hover {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  transition: 0.5s ease-out;
}

.button p {
  font-weight: 600;
}

@media (max-width: 750px) {
  .button {
    padding: 0rem !important;
  }
}

@media (max-width: 750px) {
  .button {
    width: 100%;
  }
}
