.container {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid rgb(81,81,81);
  padding: 0.8rem 0.2rem;
}

.user {
  display: flex;
  gap: 1rem;
}

.userName {
  max-width: 400px;
}

.userImage img {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName p {
  font-size: smaller;
  color: gray;
  margin-top: 0.5rem;
  text-align: left;
}

@media (max-width: 1050px) {
  .user p,
  .img {
    display: none;
  }
}
