.container {
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 0.8rem 0.2rem;
  border: none;
}

.user {
  display: flex;
  gap: 1rem;
}

.userName {
  max-width: 400px;
}

.userImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName p {
  font-size: smaller;
  color: var(--lightGrey);
  margin-top: 0.5rem;
  text-align: left;
}

@media (max-width: 1050px) {
  .user p,
  .img {
    display: none;
  }
}
@media (max-width: 750px) {
  .userInfo {
    width: 35px;
    height: 35px;
  }
}
