.container {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.storeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--darkGrey);
  padding-bottom: 1rem;
}

.storeDetails p {
  margin-top: -0.5rem;
}

.storeDetails p:hover {
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}

.storeDetails h1 {
  font-size: 1.3rem;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tabs {
  display: none;
}
.postContainer {
  padding-top: 1.5rem;
}

.container2 {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1050px) {
  .tabs {
    display: block;
  }
  .products {
    display: none;
  }
  .storeDetails {
    margin-bottom: 0px;
  }
  .container {
    margin-top: 4rem;
  }
  .container2 {
    margin-top: 6rem;
  }
}

@media (max-width: 800px) {
  .container2 {
    margin-top: 3rem;
  }
}
