.input {
  color: var(--white);
  background-color: var(--black) !important;
  padding: 1rem;
  padding-left: 0rem;
  border: 0px;
  font-size: 1rem;
  border-bottom: 1px solid var(--lightGrey);
  width: 100%;
  font-family: "Inter";
}
.input:focus {
  outline: none;
  border-bottom: 1px solid var(--white);
  transition: 0.3s all;
}

.input:-webkit-autofill {
  color: var(--white) !important;
  background-color: var(--black) !important;
  padding: 1rem;
  padding-left: 0rem;
  border: 0px;
  font-size: 1rem;
  border-bottom: 1px solid var(--lightGrey) !important;
  width: 100%;
  font-family: "Inter";
}
.input:autofill {
  color: var(--white) !important;
  background-color: var(--black) !important;
  padding: 1rem;
  padding-left: 0rem;
  border: 0px;
  font-size: 1rem;
  border-bottom: 1px solid var(--lightGrey) !important;
  width: 100%;
  font-family: "Inter";
}
