.container {
  margin-top: 5rem;
  padding: 5rem;
  padding-bottom: 0px;
}

.hugeHeading {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 10rem;
  font-weight: 800;
  color: #000;
  -webkit-text-stroke: 2px #fff;
  line-height: 0.6;
}

.midHeading {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 10rem;
  font-weight: 800;
  color: #fff;
  line-height: 1.3;
}
