@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

/*This is dev */
:root {
  --white: #fff;
  --black: #000;
  --darkGrey: #2f3336;
  --lightGrey: #808080;
}

body[data-theme="dark"] {
  --white: #000;
  --black: #fff;
  --darkGrey: #2f3336;
  --lightGrey: #808080;
}

body,
body[data-theme="light"] {
  --white: #fff;
  --black: #000;
  --darkGrey: #2f3336;
  --lightGrey: #808080;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--white);
  overflow-x: hidden;
  background-color: var(--black);
  cursor: none;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--white);
  color: var(--black);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.cursor {
  width: 35px;
  height: 35px;
  pointer-events: none;
  background: var(--white);
  border-radius: 50%;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  transition: all 200ms ease-out;
  opacity: 0.2;
  position: fixed;
  /* position: absolute; */
}

.cursor2 {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: -100px;
  top: 50%;
  z-index: 1000;
  background-color: var(--white);
  height: 7px;
  width: 7px;
  transition: all 0ms ease-out;
}

.drag {
  width: 75px;
  height: 75px;
  pointer-events: none;
  background: var(--black);
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300 !important;
  display: none;
  transition: all 50ms ease-out;
  /* position: absolute; */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: var(--white);
  mix-blend-mode: exclusion;
}

input:-webkit-autofill {
  color: var(--white) !important;
  background-color: var(--black) !important;
  padding: 1rem;
  padding-left: 0rem;
  border: 0px;
  font-size: 1rem;
  border-bottom: 1px solid var(--lightGrey) !important;
  width: 100%;
  font-family: "Inter";
}
input:autofill {
  color: var(--white) !important;
  background-color: var(--black) !important;
  padding: 1rem;
  padding-left: 0rem;
  border: 0px;
  font-size: 1rem;
  border-bottom: 1px solid var(--lightGrey) !important;
  width: 100%;
  font-family: "Inter";
}

@media only screen and (max-width: 1000px) {
  .cursor,
  .cursor2,
  .drag {
    display: none !important;
  }
  html,
  body {
    cursor: auto;
  }

  .logo {
    display: none;
  }
}
