.container {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding-bottom: 7rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  /* border-top: 1px solid var(--darkGrey);
  border-bottom: 1px solid var(--darkGrey); */
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  min-width: 500px;
  /* border-left: 1px solid var(--darkGrey);
  border-right: 1px solid var(--darkGrey); */
}
.table tr:nth-child(odd) {
  background-color: var(--black);
  color: var(--white);
  min-width: 500px;
  text-align: center;
  /* border-left: 1px solid var(--darkGrey); */
  /* border-right: 1px solid var(--darkGrey); */
}
/*  
  .table tr:hover {
    color: var(--blue); 
  }  */

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--darkGrey);
  color: var(--white);
}
.tableContainer {
  overflow-x: scroll;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 95vw;
  }

  .tableContainer::-webkit-scrollbar {
    height: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90vw !important;
    margin-top: 5rem !important;
  }
}

.button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 10rem;
  color: var(--white);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  width: 100%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  min-width: 150px;
}

.button:hover {
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  transition: 0.3s ease-out;
}

.buttonFilled {
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 10rem;
  color: black;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  width: 100%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  min-width: 150px;
}

/* .buttonFilled:hover {
  border: 1px solid var(--white);
  background-color: white;
  color: black;
  transition: 0.3s ease-out;
} */

@media (max-width: 750px) {
  .button {
    width: 100%;
  }
  .table td {
    min-width: 100px;
  }
}
